# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment folder (if you create one inside the project)
venv/
env/
.env/

# Large data files 
data/
data/hansen/
Climate-Driven-Tree-Migration-remote/src

# IDE files
.idea/
.vscode/
.DS_Store
